/* 1152px */
@media (max-width: 72em) {
  h1 {
    font-size: 4.2rem;
  }

  .description-text,
  .restaurants-description-text {
    font-size: 2rem;
  }

  section h2 {
    font-size: 3.6rem;
  }

  .img-washrooms,
  .img-hyakumeizan {
    width: 55rem;
    height: 45rem;
  }

  .parkdale-section,
  .perth-section,
  .hyakumeizan-section,
  .high-park-icons-section {
    column-gap: 2rem;
  }
}

/* 1040px */
@media (max-width: 65em) {
  .container {
    max-width: 90rem;
  }

  h1 {
    font-size: 4.2rem;
  }

  .description-text,
  .restaurants-description-text {
    font-size: 2rem;
  }

  section h2 {
    font-size: 3.6rem;
  }

  .img-washrooms,
  .img-hyakumeizan {
    width: 50rem;
    height: 40rem;
  }

  .parkdale-section,
  .perth-section,
  .hyakumeizan-section,
  .high-park-icons-section {
    column-gap: 2rem;
  }
}

/* 960px */
@media (max-width: 60em) {
  .container {
    max-width: 80rem;
  }

  h1 {
    font-size: 3.6rem;
  }

  .description-text,
  .restaurants-description-text {
    font-size: 1.8rem;
  }

  section h2 {
    font-size: 3rem;
  }

  .img-washrooms,
  .img-hyakumeizan {
    width: 45rem;
    height: 35rem;
  }

  .img-restaurants,
  .img-high-park-icons {
    height: 40rem;
    width: 50rem;
  }

  .parkdale-section,
  .perth-section,
  .hyakumeizan-section {
    column-gap: 2rem;
  }
}

/* 896px */
@media (max-width: 56em) {
  .container {
    max-width: 70rem;
    gap: 4rem;
  }

  h1 {
    font-size: 3.6rem;
  }

  .description-text,
  .restaurants-description-text {
    font-size: 1.8rem;
  }

  section h2 {
    font-size: 3rem;
  }

  .img-washrooms,
  .img-hyakumeizan {
    width: 50rem;
    height: 40rem;
    align-self: center;
    justify-self: center;
  }

  .parkdale-section,
  .hyakumeizan-section,
  .high-park-icons-section {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .parkdale-section > * {
    grid-column: 1;
  }

  .hyakumeizan-section > * {
    grid-column: 1;
  }

  .divider {
    padding-bottom: 2rem;
  }
}

/* 832px */
@media (max-width: 52em) {
  .perth-section,
  .parkdale-section,
  .hyakumeizan-section,
  .high-park-icons-section {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
  }

  .perth-section > * {
    grid-column: 1;
  }

  .toronto-restaurant-section {
    gap: 2rem;
  }

  .img-ports {
    align-self: center;
    justify-self: center;

    height: 50rem;
    width: 38rem;
  }
}

/* 720px */
@media (max-width: 45em) {
  .container {
    max-width: 60rem;
  }

  h1 {
    font-size: 3rem;
  }

  section h2 {
    font-size: 2.4rem;
  }

  .description-text,
  .restaurants-description-text {
    font-size: 1.4rem;
  }
}

/* 608px */
@media (max-width: 38em) {
  h1 {
    font-size: 2.4rem;
  }

  section h2 {
    font-size: 1.8rem;
  }

  .description-text,
  .restaurants-description-text {
    font-size: 1.4rem;
  }

  .container {
    max-width: 50rem;
    padding: 2rem 2rem;
  }

  .introduction-section {
    gap: 2rem;
  }

  .img-restaurants,
  .img-washrooms,
  .img-hyakumeizan,
  .img-high-park-icons {
    width: 40rem;
    height: 30rem;
  }

  .img-ports {
    height: 40rem;
    width: 28rem;
  }

  .high-park-icons-section {
    padding-bottom: 2rem;
  }
}

/* 528px */
@media (max-width: 33em) {
  .container {
    max-width: 40rem;
    padding: 1.4rem 1.4rem;
    gap: 2rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  section h2 {
    font-size: 1.6rem;
  }

  .img-restaurants,
  .img-washrooms,
  .img-hyakumeizan,
  .img-high-park-icons {
    width: 30rem;
    height: 22rem;
  }

  .img-ports {
    height: 30rem;
    width: 22rem;
  }
}

/* 432px */
@media (max-width: 27em) {
  .container {
    max-width: 32rem;
    padding: 0.8rem 0.8rem;
    gap: 1.6rem;
  }

  h1 {
    font-size: 1.8rem;
    max-width: 26rem;
  }

  section h2 {
    font-size: 1.6rem;
  }

  .description-text,
  .restaurants-description-text,
  .title-toronto-restaurants {
    max-width: 26rem;
  }

  .perth-section,
  .parkdale-section,
  .hyakumeizan-section,
  .high-park-icons-section {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1rem;
  }

  .toronto-restaurant-section {
    gap: 1rem;
  }

  .introduction-section {
    gap: 1rem;
  }

  .img-restaurants,
  .img-washrooms,
  .img-hyakumeizan,
  .img-high-park-icons {
    width: 28rem;
    height: 20rem;
  }

  .img-ports {
    height: 28rem;
    width: 20rem;
  }
}
